.container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 58;
  text-align: center;
  color: rgb(223, 87, 9);
}
