.container {
  display: flex;
  justify-content: center;
  border: 5px solid white;
  border-radius: 25px;
  width: 500px;
  padding: 30px;
  margin: auto;
  background-color: rgb(55, 65, 97);
}

.form {
  display: flex;
  flex-direction: column;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: white;
  border-color: white;
  color: rgb(55, 65, 97);
  font-weight: 700;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: auto;
  border-radius: 15px;
  min-width: 120px;
  cursor: pointer;
  margin-top: 20px;
}

.label {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.inputName {
  width: 170px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.inputNumber {
  width: 170px;
  margin-left: 15px;
  margin-bottom: 15px;
}
