.container {
  display: inline-block;
  justify-content: center;
  border: 2px solid black;
  width: 350px;
  padding: 30px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  width: 250px;
}

.label {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.inputName {
  width: 170px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.inputNumber {
  width: 170px;
  margin-left: 15px;
  margin-bottom: 15px;
}
