.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  width: 500px;
  border: 5px solid white;
  border-radius: 25px;
  height: 50px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(147, 146, 150);
}

.activeLink {
  composes: link;
  color: rgb(252, 252, 253);
}
