.section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(55, 65, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
}
